.btn {
  width: 220px;
  height: 70px;
  border: 2px solid $blue-black;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color:$blue-black;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color:$blue-black;
    color:$grey;
  }
}
