.btn {
  display: inline-block;
  padding: 0 50px;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
  background-color: $blue-black;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    color: $blue-black;
    background-color: transparent;
  }

  &_light {
    width: 220px;
    height: 70px;
    font-size: 20px;
    line-height: 30px;
    color: $blue-black;
    background-color: transparent;
    border: 2px solid $blue-black;

    &:hover {
      background-color: $blue-black;
      color: #fff;
    }
  }

  &_big {
    width: 438px;
    height: 118px;
    border-radius: 15px;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
  }

  &_subscribe {
    padding: 25px 80px;
    height: 80px;
    font-size: 20px;
    line-height: 30px;
  }
}
