.contacts {
  padding-top: 260px;
  padding-bottom: 133px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrapper {
    max-width: 776px;
  }

  &__img {
    width: 477px;
    height: 429px;
    object-fit: cover;
  }

  &__descr {
    margin-top: 37px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-grey;
  }

  &__form {
    margin-top: 52px;
  }
}
