.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 711px;
  padding-top: 50px;

  &__wrapper {
    max-width: 530px;
  }

  &__title {
    position: relative;
    padding-top: 0px;
    background-image: url("../../icons/light-bulb.png");
    background-size: 85px 85px;
    background-position: 440px 100px;
    background-repeat: no-repeat;
  }

  &__descr {
    margin-top: 40px;
    color: $dark-grey;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }

  &__btn {
    margin-top: 60px;
  }

  &__img {
    width: 661px;
    height: 661px;
    object-fit: cover;
  }
}
