.menu {
  list-style: none;
  display: flex;
  gap: 32px;

  &__link {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: $blue-black;
    text-decoration: none;
    transition: color 0.4s ease-in-out;

    &:hover {
      color: $dark-grey;
    }
  }
}
