.pricing {
  padding-top: 188px;

  &__title {
    text-align: center;
  }

  &__list {
    margin-top: 57px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 413px 391px 430px;
    list-style-type: none;
  }

  &__item {
    min-height: 580px;
    position: relative;
    padding-top: 350px;
    padding-bottom: 75px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;

    &_course {
      width: 311px;
      height: 311px;
    }

    &_lesson {
      width: 391px;
      height: 283px;
    }

    &_webinar {
      width: 340px;
      height: 340px;
    }
  }

  &__subtitle {
    line-height: 48px;
  }

  &__descr {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-grey;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 240px;
    padding: 0 18px;
    min-height: 45px;
    border-radius: 5px;
    font-size: 30px;
    line-height: 45px;
    color: $blue-black;
    background-color: #eee;
    bottom: 0;

    span {
      display: block;
      margin-left: 12px;
      font-size: 18px;
      line-height: 27px;
      color: #546269;
    }
  }
}
