.title {
  margin: 0;
  font-weight: 600;
  line-height: 80px;
  color: $dark-black;

  &_fz30 {
    font-size: 30px;
    color: $blue-black;
  }

  &_fz48 {
    font-size: 48px;
  }

  &_fz64 {
    font-size: 64px;
  }
}
