@import "base/normalize";
@import "base/variables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1340px;
  margin: 0 auto;
}

.logo {
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  color: $dark-black;
  text-decoration: none;

  span {
    color: $grey;
  }
}

@import "blocks/header";
@import "blocks/menu";
@import "blocks/buttons";
@import "blocks/main";
@import "blocks/title";
